<!-- saved from url=(0028)https://www.scnsoft.com/blog -->
<html lang="en">
  <body >
   <%#= render 'home/header' %>
    <main id="maincontent" class="page-main lowercase-headers">
      <div class="container blog-list-page" data-track-source="Blog Page">

        <div class="category-description"></div>
        <div class="row articles-wrapper" data-page="1" data-total="661">
          <% @blogs.each do |blog| %>
            <div class="article-block col-lg-4 col-md-6 col-sm-12">
              <a href="blog/<%= blog.id%>" class="article-wrapper">
                <div class="article-image-wrapper">
                  <%= image_tag blog.image %>
                </div>
                <div class="article-content-wrapper">
                  <div class="article-categories">
                    
                  </div>
                  <h4 class="article-title"><%= blog.title %></h4>
                  <%content = blog.content
                    content = content.split(".")
                    content = content[0] + content[1]
                  %>
                  <div class="article-description"><%= blog.content.html_safe%></div>
                  <button type="button" class="btn btn-link-arrow btn-link-arrow--right read-article-btn">&nbsp;</button>
                </div>
              </a>
            </div>
          <%end%>
        </div>
      </div>
    </main>
    <%#= render 'home/footer' %>
  </body>
</html>
