
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Upgrade Rails 6 to Rails 7</title>
  <meta name="description" content="Upgrade Rails 6 to Rails 7" />


  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta property="og:title" content="Upgrade Rails 6 to Rails 7" />
  <meta property="og:description" content="Upgrade Rails 6 to Rails 7" />
</head>
<body>
  <main id="maincontent" class="page-main lowercase-headers">
    <div class="container blog-list-page" data-track-source="Blog Page">
      <div class="category-description"></div>
      
      <br><br>
      <div style="margin-top: 60px;">
        <h1><%= @blog.title%></h1>
        <h3><%= @blog.content.html_safe%></h3>
      </div>
    </div>
  </main> 
</body>
</html>