<!DOCTYPE html>
<html>
  <head>
    <!-- Including the bootstrap CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=
      "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src=
      "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"
      href=
      "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src=
      "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src=
      "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style type="text/css">
      <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
      .bs-example {
      margin: auto;
      width: 25%;
      }
      @media screen {
      .dropdown:hover .dropdown-menu,
      .btn-group:hover .dropdown-menu {
      display: block;
      }
      .dropdown-menu {
      margin: auto;
      }
      .dropdown-toggle {
      margin: auto;
      }
      .navbar .dropdown-toggle,
      .nav-tabs .dropdown-toggle {
      margin: auto;
      }
      }
    </style>
  </head>
  <body>
    <header class="header">
      <div class="header__left">
      <a href="/" class="header__logo" aria-label="Logo">
      <%= image_tag "jmw_1.png",style: "width: 300px"%>
      </a>
    <div class="right_header_wrapper">
      <div class="header__menuWrap">
        <ul id="menu-header-menu" class="header__menu">
          <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10535" class="full-width about-us menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-10535 nav-item">
       
            <div class="dropdown">
              <a title="About Us" href="/" class="nav-link dropbtn">Company</a>
              <div class="dropdown-content">
                <a href="/about_us" style="border-bottom: 1px solid grey;">About Us </a>
                <a href="/partnership" >Partnership</a>
              </div>
            </div>
            <div class="dropdown-menu__wrapper" style="display: none;">
              <ul class="dropdown-menu">
                </li>
              </ul>
            </div>
          <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10555" class="full-width services menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-10555 nav-item">
            <div class="dropdown">
              <a title="Services" href="/what_we_do" class="nav-link dropbtn">What We Do</a>
              <div class="dropdown-content">
                <a href="/mobile_app_development" style="border-bottom: 1px solid grey;">Mobile App Development</a>
                <a href="/web_development" style="border-bottom: 1px solid grey;">Web Development </a>
              </div>
          </li>
          <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10580" class="full-width industries-expertise menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-10580 nav-item">
          <a title="Our Services" href="our_services" class="nav-link">Our Services</a>
          </li>
          
          <!-- <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10604" class="blog-mobile menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-10604 nav-item">
          <a title="Blog" href="/blogs" class="nav-link">Blog</a>
          </li> -->
          <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-24921" class="global-link menu-item menu-item-type-custom menu-item-object-custom menu-item-24921 nav-item"><a title="Careers" href="/career" class="nav-link">Careers</a></li>
          <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-10580" class="full-width industries-expertise menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-10580 nav-item">
          <a title="Contact Us " href="/contact" class="nav-link" style="color: black; font-size: 1rem; font-weight: 600;">Contact Us</a>

          </li>
  
            </div>
          </div>
          
      </div>
    </div>
<!-- hamburger -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <section class="top-nav">
    <div>
      <%= image_tag "jmw_1.png",style: "width: 247px"%>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <a href="/about_us"><li>About Us </li></a>
      <a href="/our_services"><li>Our Services</li></a>
      <a href="/what_we_do"><li>What We Do</li></a>
      <a href="/contact"><li>Contact Us</li></a>
      <!-- <a href="/blogs"><li>Blog</li></a> -->
    </ul>
  </section>


<!-- end hamburger -->
 
    </header>
</html>
<style>
/* hamburger css */

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}
.top-nav{
  display: none;
}
.brunch-pro .site-header{
    background: transparent;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  background: black;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 950px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: inline-block;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  
  }
  #menu-toggle:checked ~ .menu a {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em 30px;
    transition: height 400ms cubic-bezier(0.24, 1, 0.32, 1);
    width: 949px;
    display: inline-table;
     }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .header{
    display: none !important;
  }
  .top-nav{
    display: block;
    display: flex;
  }
}



/*end css*/

  .dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  }
  .nav-link:hover{
  color: #0045cf !important;
  }
  .dropdown {
  position: relative;
  display: inline-block;
  }
  .right_header_wrapper{
    display: flex;
    justify-content: center;
  }
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  }
  .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  .dropdown-content a:hover {color: #0045cf;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color: #0045cf;}

</style>
<script>
  $(function () {
  $(document).scroll(function () {
    var $nav = $(".header");
    $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
  });
  });
</script>
<style type="text/css">
  .author .header, .home .header, .single-expertise .header, .single-industries .header, .single-news .header, .single-post .header, .single-products .header, .single-services .header, .transparent_header .header {
  min-width: 960px !important;
  }
  @media (min-width: 961px)
  .author .header, .home .header, .single-expertise .header, .single-industries .header, .single-news .header, .single-post .header, .single-products .header, .single-services .header, .transparent_header .header {
  background-color: transparent;
  box-shadow: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  }
  header {
  background-color: transparent; /* For browsers that do not support gradients */
  background-image: linear-gradient(transparent, transparent);
  }
  .header.scrolled{
  background-color: white !important;
  transition: background-color 200ms linear;
  }
  .header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
  transition: background-color .3s;
  z-index: 5;
  padding-top: 0 !important;
  font-family: "Proxima Nova",Arial,SourceSansPro,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  height: 100px;
  color: white;
  }
  *, :after, :before {
  box-sizing: border-box;
  }
  user agent stylesheet
  header {
  display: block;
  }
  .header:hover{
  background-color: white;
  }
  body {
  font-size: 1rem;
  line-height: 1.63;
  margin: 0;
  }
  .title, body {
  color: #1e1d28;
  }
  .form .gform_wrapper .gform_footer input[type=submit], .search__field, body {
  font-family: "Proxima Nova",Arial,SourceSansPro,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  }
  html{
  font-size: 16px;
  }
  .header__left{
  align-items: center;
  display: flex;
  justify-content: center;
  }
  .header__logo{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  user agent stylesheet
  div {
  display: block;
  }
  html{
  font-size: 16px;
  }
  .header__logo {
  -ms-grid-row-align: stretch;
  align-self: stretch;
  position: relative;
  }
  body a {
  display: inline;
  padding: 0;
  }
  user agent stylesheet
  a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  }
  html{
  font-size: 16px;
  }
  element.style {
  }
  user agent stylesheet
  html{
  font-size: 16px;
  }
  .header__menu {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
 justify-content: center;
  }
  user agent stylesheet
  ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  }
  html{
  font-size: 16px;
  }
  .header__right {
  align-items: center;
  display: flex;
  }
  
  @media (min-width: 961px)
  .home .header__btn {
  background-color: #ff4925;
  color: #fff;
  }
  @media (min-width: 961px)
  .author .header__btn, .home .header__btn, .single-expertise .header__btn, .single-industries .header__btn, .single-news .header__btn, .single-post .header__btn, .single-products .header__btn, .single-services .header__btn, .transparent_header .header__btn {
  background-color: #fff;
  color: #1e1d28;
  }
  .header__btn {
 }
  .btn--black, .btn--blue, .tag-item {
  color: #fff;
  }
  .btn {
  border-radius: 50px;
  border: none;
  display: inline-block;
  min-width: 260px;
  padding: 20px;
  text-align: center;
  transition-property: background-color,color;
  -moz-user-select: none;
  user-select: none;
  }
  .btn, .tag-item {
  line-height: 1.3;
  transition-duration: .3s;
  font-weight: 600;
  text-decoration: none;
  }
  .btn, .form .gform_wrapper .gform_footer input[type=submit] {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  outline: 0;
  }
  .header__search {
  margin-right: 30px;
  position: relative;
  }
  .lang {
  width: 72px;
  }
  .lang, .lang__item.selected {
  position: relative;
  }
  .search__form {
  position: relative;
  }
  user agent stylesheet
  form {
  display: block;
  margin-top: 0em;
  }
  @media (min-width: 961px)
  .author .header__lang .lang__item.selected, .home .header__lang .lang__item.selected, .single-expertise .header__lang .lang__item.selected, .single-industries .header__lang .lang__item.selected, .single-news .header__lang .lang__item.selected, .single-post .header__lang .lang__item.selected, .single-products .header__lang .lang__item.selected, .single-services .header__lang .lang__item.selected, .transparent_header .header__lang .lang__item.selected {
  background-color: transparent;
  }
  .lang__item {
  color: #1e1d28;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  transition-duration: .3s;
  transition-property: background-color,color;
  }
  .lang__items {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  border-radius: 0 0 6px 6px;
  display: none;
  left: 0;
  list-style: none;
  margin: 13px 0 0;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  }
  user agent stylesheet
  .lang__items:after {
  background: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(0,0,0,0) 100%);
  content: '';
  height: 5px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  }
  user agent stylesheet
  li {
  display: list-item;
  text-align: -webkit-match-parent;
  }
  user agent stylesheet
  ul {
  list-style-type: disc;
  }
  .lang__link {
  color: #1e1d28;
  display: block;
  padding: 18px 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: background-color,color;
  }
  user agent stylesheet
  li {
  text-align: -webkit-match-parent;
  }
  .hide_show_menu {
  border-style: solid;
  border-width: 2px 0;
  cursor: pointer;
  display: none;
  height: 18px;
  margin-left: 20px;
  position: relative;
  transition: all .15s cubic-bezier(.67,-.03,.45,1.89);
  width: 25px;
  }
  .dots--black .slick-dots li.slick-active button:after, .hide_show_menu {
  border-color: #000;
  }
  .hide_show_menu::before, .hide_show_menu:after {
  background: #000;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 6px;
  transition: all .35s cubic-bezier(.67,-.03,.45,1.89);
  width: 25px;
  }
  .header__menu .nav-link {
  color: #373737;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 27px 10px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  }
  .header__menu>li{
  padding: 10px 18px
  }
@media (max-width: 1399px){
  .header__menu .nav-link{
    padding: 0;
  }
@media(max-width: 1311px){
  .header__right{
   display: none;
  }
}

}
</style>